<a href="https://colab.research.google.com/github/RachellRG29/PrograIII_2024_Semi/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pruebas Python

In [ ]:
print("hola mundo")
print(type("esto es texto"))
print(type(2))

nombre = "Cindy Ramirez"
print("Hola ",nombre, ", iniciales:", nombre[0], nombre[6])

hola mundo
<class 'str'>
<class 'int'>
Hola  Cindy Ramirez , iniciales: C R

Ejercicios, crear un programa quen python que sume 2 numeros

In [ ]:
num1=5
num2=9.5
resp= num1+num2
print("la suma es ",resp)

la suma es  14.5

Ejercicios, crear un programa quen python que sume 2 numeros, introducidos por el usuario

In [ ]:
print("Ingrese el numero 1: ")
num1 = int(input())

print("Ingrese el numero 2: ")
num2 = float(input())
resp = num1+num2
print("La suma es: ",resp)

Ingrese el numero 1:
2
Ingrese el numero 2:
9.129
La suma es:  11.129

Cadenas

In [ ]:
#Tipos de datos
nombre="Cindy Ramirez"
print(nombre[0:5], nombre[:5], nombre[-7:-3], nombre[5:len(nombre)])

estado = False
print(estado)

num1=5
num2=5.9

print(type(nombre), type(num1), type(num2), type(estado), type("Texto") )

Cindy Cindy Rami  Ramirez
False
<class 'str'> <class 'int'> <class 'float'> <class 'bool'> <class 'str'>

Ejercicio: cree un programa en python que lea yb numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 ==0:
  print("El numero es par ",num)
else:
  print("El numero es inpar ", num)

Ingrese un numero:8
El numero es par  8

In [2]:
nombre = input("Nombre: ")
print(nombre)
print(nombre[-4])

Nombre: Cindy
Cindy
i

In [9]:
def suma(num1, num2):
  return num1+num2

num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1,num2)
print("la suma es: ",resp)

Num 1: 1
Num 2: 5.9
la suma es:  6.9

Ejercicio: Convertir grados celsius a farenheit, usando funciones de usuario.

In [11]:
def convertir_cf(c):
  return c*1.8 + 32
  #return c*9/5 + 32

c= float(input("Celcius: "))
print("Farenheit: ", convertir_cf(c))

Celcius: 33
Farenheit:  91.4

In [15]:
#Determina si un numero es par o inpar
def parImpar(num):
  if(num % 2==0):
    return "par"
  return "impar"

num= float(input("Num: "))
print("El numero ", num, "es: ",parImpar(num))

Num: 9
El numero  9.0 es:  impar

In [21]:
def sueldo(numHrs, valorxHrs):
  sueldo = numHrs * valorxHrs * 30
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorxHrs * 30
  return sueldo


numHrs = int(input("Horas trabajadas: "))
valorxHrs = float(input("Valor de horas: "))

print("Sueldo del trabajador:", sueldo(numHrs, valorxHrs))

Horas trabajadas: 10
Valor de horas: 1.5
Sueldo del trabajador: 540.0

Ejercicio calcular el sueldo de un trabajador

TAREA(Miercoles)


1.   Convertir grados farenheit a celsius
2.   Convertir [Farenheit y celsius] a kelvin