<a href="https://colab.research.google.com/github/RachellRG29/PrograIII_2024_Semi/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pruebas Python

In [ ]:
print("hola mundo")
print(type("esto es texto"))
print(type(2))

nombre = "Cindy Ramirez"
print("Hola ",nombre, ", iniciales:", nombre[0], nombre[6])

hola mundo
<class 'str'>
<class 'int'>
Hola  Cindy Ramirez , iniciales: C R

Ejercicios, crear un programa quen python que sume 2 numeros

In [ ]:
num1=5
num2=9.5
resp= num1+num2
print("la suma es ",resp)

la suma es  14.5

Ejercicios, crear un programa quen python que sume 2 numeros, introducidos por el usuario

In [ ]:
print("Ingrese el numero 1: ")
num1 = int(input())

print("Ingrese el numero 2: ")
num2 = float(input())
resp = num1+num2
print("La suma es: ",resp)

Ingrese el numero 1:
2
Ingrese el numero 2:
9.129
La suma es:  11.129

Cadenas

In [ ]:
#Tipos de datos
nombre="Cindy Ramirez"
print(nombre[0:5], nombre[:5], nombre[-7:-3], nombre[5:len(nombre)])

estado = False
print(estado)

num1=5
num2=5.9

print(type(nombre), type(num1), type(num2), type(estado), type("Texto") )

Cindy Cindy Rami  Ramirez
False
<class 'str'> <class 'int'> <class 'float'> <class 'bool'> <class 'str'>

Ejercicio: cree un programa en python que lea yb numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 ==0:
  print("El numero es par ",num)
else:
  print("El numero es inpar ", num)

Ingrese un numero:8
El numero es par  8

In [ ]:
nombre = input("Nombre: ")
print(nombre)
print(nombre[-4])

Nombre: Cindy
Cindy
i

In [ ]:
def suma(num1, num2):
  return num1+num2

num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1,num2)
print("la suma es: ",resp)

Num 1: 1
Num 2: 5.9
la suma es:  6.9

Ejercicio: Convertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32
  #return c*9/5 + 32

c= float(input("Celcius: "))
print("Farenheit: ", convertir_cf(c))

Celcius: 20
Farenheit:  68.0

In [ ]:
#Determina si un numero es par o inpar
def parImpar(num):
  if(num % 2==0):
    return "par"
  return "impar"

num= float(input("Num: "))
print("El numero ", num, "es: ",parImpar(num))

Num: 9
El numero  9.0 es:  impar

In [ ]:
def sueldo(numHrs, valorxHrs):
  sueldo = numHrs * valorxHrs * 30
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorxHrs * 30
  return sueldo


numHrs = int(input("Horas trabajadas: "))
valorxHrs = float(input("Valor de horas: "))

print("Sueldo del trabajador:", sueldo(numHrs, valorxHrs))

Horas trabajadas: 10
Valor de horas: 1.5
Sueldo del trabajador: 540.0

Ejercicio calcular el sueldo de un trabajador

TAREA(Miercoles)


1.   Convertir grados farenheit a celsius
2.   Convertir [Farenheit y celsius] a kelvin

Convertir grados farenheit a celsius

In [ ]:
def convertir_fc(f): #farenheit a celcius
  return (f-32) * 5/9

f = float(input("Farenheit: "))
print("Grados Celcius: ", convertir_fc(f),"°c")

Farenheit: 90
Grados Celcius:  32.22222222222222 °c

Convertir [Farenheit y celsius] a kelvin

In [ ]:
def convertir_fk(f): #farenheit a kelvin
  return (f + 459.67)/1.8

f = float(input("Farenheit: "))
print("Grados Kelvin convertidos: ", convertir_fk(f),"°k")
print("")

def convertir_ck(c): #celcius a kelvin
  return (c+273.15)

c = float(input("Celcius: "))
print("Grados Kelvin: ", convertir_ck(c),"°k")

Farenheit: 40
Grados Kelvin convertidos:  277.59444444444443 °k

Celcius: 44
Grados Kelvin:  317.15 °k

Clase 24-07-2024
Ejercicio: elevar un nmero al cuadrado

In [ ]:
def elevarCuadrado(base, exponente):
  return base**exponente

#exponente=int(input("Exponente "))

base = int(input("Numero "))
print("Elevado: ",elevarCuadrado(base,3))

Numero 3
Elevado:  27

Usando funciones lambda

In [ ]:
elevarCuadradoLambda = lambda base, exponente : base**exponente
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor,2))

Num: 3
Cuadrado:  9

Funcion lambda, con series , listas , matrices

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print("Valores al cuadrado:",(list(resp)))

#resp2= map(elevarCuadrado, serie)
#print(list(resp2))

Valores al cuadrado: [25, 16, 9, 4, 36, 49]

Ejercicio: Obtener la raiz cuadrada de una serie de numeros fijos

In [ ]:
#from math import sqrt

#series = [5,4,3,2,6,7]
series = [16,9, 81,144,6,7]
resps = map(lambda x:x** 0.5, series)

print(list(resps))

[4.0, 3.0, 9.0, 12.0, 2.449489742783178, 2.6457513110645907]

CLASE VIRTUAL 29-07-24_ LAMBDA

EJERCICIO CON MAP

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda n: n*3, numeros)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros)))

Tabla: 6
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

*FILTER

In [ ]:
#pares
numeros = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda n: n%2==0, numeros)))

[2, 4, 6, 8, 10]

In [ ]:
#inpares
numeros = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda n: n%2!=0, numeros)))

[1, 3, 5, 7, 9]

In [ ]:
notas = [8,2,3,9,10,1,3,6,9,0,1,10,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))

Aprobados:  [8, 9, 10, 6, 9, 10, 9]

In [ ]:
notas = [8,2,3,9,10,1,3,6,9,0,1,10,9]
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Reprobados:  [2, 3, 1, 3, 0, 1]

*REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

TUPLAS

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, ",Primer: ", numeros[0], ",Ultimo: ", numeros[-1], ", Rango: 2-6 ", numeros[2:6])
print(numeros.count(5))

Tupla:  (5, 8, 7, 9, 5, 4, 7) ,Primer:  5 ,Ultimo:  7 , Rango: 2-6  (7, 9, 5, 4)
2

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

In [ ]:
#day datetime
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo","lunes","martes","miercoles","jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ", year)

Fecha:  lunes 29  de  agosto  del  2024

In [ ]:
#
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

('Luis', 'Juan')
['Pedro', 'Juan']

('Luis', 'Juan')
['Pedro', 'Juan']

['Pedro', 'Juan']

In [ ]:
#LISTA
listas = [5,8,7,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 8] ] #8*0.3=2.4 + 9*0.3=2.7 + 8*0.3=2.4
reduce(obtenerNota, matriz, 0)

7.5

In [ ]:
#
numeros = []
for i in range(1,10):
  numeros.append(int(input("num" +str(i)+":")))
num = int(input("num a buscar"))
print("Serie: ", numeros, "el número", num,"se repite" , numeros.count(num))

nums= numeros.reverse()
print(nums)

In [ ]:

numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

DICCIONARIOS JSON

In [ ]:

datos = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

Clase presencial/ 14-08-24
Estructura de control

In [ ]:
#solicitar al usuario la edad y determinar su clasificacion
edad = int(input("Digite su edad: "))

if edad> 17:
  print("Bienvenido al mundo de las responsabilidades")

Digite su edad12

In [ ]:
edad = int(input("Digite su edad: "))
if edad <=-1:
  print("Aun no has nacido")
elif edad<=2:
  print("Bebe")
elif edad<=12:
  print("Niño")
elif edad<18:
  print("Adolescente")
elif edad<=55:
  print("Adulto")
elif edad<85:
  print("Adulto mayor")
else:
  print("Longevidad")

Digite su edad: 0
Bebe

In [ ]:
#Digitar edad y permitir que el programa se ejecute hasta que el usuario decida
continuar = "s"
while continuar == "s":
  edad = int(input("Digite su edad: "))
  if edad <=-1:
    print("Aun no has nacido")
  elif edad<=2:
    print("Bebe")
  elif edad<=12:
    print("Niño")
  elif edad<18:
    print("Adolescente")
  elif edad<=55:
    print("Adulto")
  elif edad<85:
    print("Adulto mayor")
  else:
    print("Longevidad")
  continuar = input("Desea continuar? s, sino cualquier tecla: ")

Digite su edad: 21
Adulto
Desea continuar? s, sino cualquier tecla: s
Digite su edad: 0
Bebe
Desea continuar? s, sino cualquier tecla: s
Digite su edad: -30
Aun no has nacido
Desea continuar? s, sino cualquier tecla: m

In [ ]:
#numero positivos o negativos
numero= int(input("Digite un numero: "))
if numero>0:
    print("El numero es positivo")
elif  numero<0:
    print("El numero es negativo")
else:
    print("El numero es cero")

Digite un numero: -3
El numero es negativo

In [ ]:
# solicitar una tabla de multiplicr y generarla
continuar = "s"
while continuar == "s":
  tabla = int(input("Tabla: "))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
  continuar = input("Desea continuar? s, sino cualquier tecla: ")

Tabla:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Desea continuar? s, sino cualquier tecla: s
Tabla:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Desea continuar? s, sino cualquier tecla: s
Tabla:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Desea continuar? s, sino cualquier tecla: n

TAREA DE PYTHON-----
Miercoles 21-08-24

1- Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y
sueldo neto.

In [ ]:
#Deducciones
def calcular_deducciones_y_sueldo_neto(sueldo_bruto):
    # Deducciones por ley
    isss = sueldo_bruto * 0.03
    afp = sueldo_bruto * 0.0625

    # Ingreso después de deducciones de ISSS y AFP
    ingreso_despues_deducciones = sueldo_bruto - isss - afp

    # Cálculo del ISR según tabla
    if ingreso_despues_deducciones <= 4064.00:
        isr = 0
    elif ingreso_despues_deducciones <= 9142.86:
        isr = 212.12 + (0.10 * (ingreso_despues_deducciones - 4064.00))
    elif ingreso_despues_deducciones <= 22857.14:
        isr = 720.00 + (0.20 * (ingreso_despues_deducciones - 9142.86))
    else:
        isr = 3462.86 + (0.30 * (ingreso_despues_deducciones - 22857.14))

    # Total de deducciones
    total_deducciones = isss + afp + isr

    # Sueldo neto
    sueldo_neto = sueldo_bruto - total_deducciones

    return total_deducciones, sueldo_neto

sueldo_bruto = 365 # Valor el Salvador
total_deducciones, sueldo_neto = calcular_deducciones_y_sueldo_neto(sueldo_bruto)

print(f"Sueldo Bruto: ${sueldo_bruto:.2f}")
print(f"Total Deducciones: ${total_deducciones:.2f}")
print(f"Sueldo Neto: ${sueldo_neto:.2f}")

Sueldo Bruto: $365.00
Total Deducciones: $33.76
Sueldo Neto: $331.24

2- Calcular el valor a pagar según el número de metros consumidos de agua potable

In [ ]:
def calcular_tarifa_agua(metros_consumidos):
    if metros_consumidos <= 0:
        return "No se puede calcular con un valor negativo o cero."
    elif metros_consumidos <= 18:
        return 6.00
    elif 19 <= metros_consumidos <= 28:
        return 6.00 + (metros_consumidos - 18) * 0.45
    else:
        return 6.00 + (28 - 18) * 0.45 + (metros_consumidos - 28) * 0.65

# Solicitar al usuario el número de metros consumidos
try:
    metros_consumidos = float(input("Ingresa el número de metros de agua consumidos: "))
    tarifa = calcular_tarifa_agua(metros_consumidos)

    if isinstance(tarifa, str):
        print(tarifa)
    else:
        print(f"El total del valor a pagar es: ${tarifa:.2f}")

except ValueError:
    print("Por favor, ingresa un número válido.")

Ingresa el número de metros de agua consumidos: 18.5
El total del valor a pagar es: $4.33

3- Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la fórmula matemática para evitar ciclos.

In [ ]:
#meses acumulados con ciclo
def meses_acumulados(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

while True:
    try:
        n = int(input("Ingresa el número de meses para calcular la tabla acumulada: "))
        if n > 0:
            break
        else:
            print("Por favor, ingresa un número positivo.")
    except ValueError:
        print("Por favor, ingresa un número entero válido.")

tabla_acumulada = meses_acumulados(n)

print(f"\nTabla de meses acumulados para {n} meses:")
for i, valor in enumerate(tabla_acumulada, start=1):
    print(f"Mes {i}: {valor}")

Ingresa el número de meses para calcular la tabla acumulada: 12

Tabla de meses acumulados para 12 meses:
Mes 1: 1
Mes 2: 3
Mes 3: 6
Mes 4: 10
Mes 5: 15
Mes 6: 21
Mes 7: 28
Mes 8: 36
Mes 9: 45
Mes 10: 55
Mes 11: 66
Mes 12: 78

In [ ]:
#Meses acumulados sin ciclos
def calcular_valor_acumulado(n):
    return (n * (n + 1)) // 2

def imprimir_tabla(n):
    # Usamos la fórmula para calcular y mostrar cada valor sin usar ciclos
    def imprimir_mes(i):
        if i > n:
            return
        valor = calcular_valor_acumulado(i)
        print(f"Mes {i}: {valor}")
        imprimir_mes(i + 1)

    imprimir_mes(1)

def pedir_numero():
    try:
        n = int(input("Ingresa el número de meses para calcular la tabla acumulada: "))
        if n > 0:
            return n
        else:
            print("Por favor, ingresa un número positivo.")
            return pedir_numero()
    except ValueError:
        print("Por favor, ingresa un número entero válido.")
        return pedir_numero()

# Obtener el número de meses válido
n = pedir_numero()

# Imprimir la tabla acumulada
print(f"\nTabla de meses acumulados para {n} meses:")
imprimir_tabla(n)

Ingresa el número de meses para calcular la tabla acumulada: 12.4
Por favor, ingresa un número entero válido.
Ingresa el número de meses para calcular la tabla acumulada: 9

Tabla de meses acumulados para 9 meses:
Mes 1: 1
Mes 2: 3
Mes 3: 6
Mes 4: 10
Mes 5: 15
Mes 6: 21
Mes 7: 28
Mes 8: 36
Mes 9: 45

4- Conversores: (40%) (10 ítems como mínimo por cada uno)
• Monedas (Resuelto en clases)
• Longitud
• Masa
• Almacenamiento
• Tiempo
• Volumen
• Área
• Manzanas
• Tareas

LONGITUD

In [ ]:
#Longitud
def convertir_longitud(valor, unidad_origen, unidad_destino):
    unidades = {
        'metros': 1.0,
        'kilometros': 1000.0,
        'centimetros': 0.01,
        'milimetros': 0.001,
        'micrometros': 1e-6,
        'nanometros': 1e-9,
        'millas': 1609.34,
        'yardas': 0.9144,
        'pies': 0.3048,
        'pulgadas': 0.0254,
    }

    try:
        factor_origen = unidades[unidad_origen]
        factor_destino = unidades[unidad_destino]
        return valor * factor_origen / factor_destino
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z]+$", texto))

try:
    # Validación solo numeros
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar numeros válidos.")
    valor = float(valor_input)

    # Validación escribir letras, no numeros
    unidad_origen = input("Digite la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Digite la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_longitud(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

Ingrese el valor a convertir: 80
Digite la unidad de origen: yardas
Digite la unidad de destino: pulgadas
80.0 yardas son 2880.0 pulgadas

ALMACENAMIENTO

In [ ]:
#almacenamiento
def convertir_almacenamiento(valor, unidad_origen, unidad_destino):
    unidades = {
        'byte': 1,
        'kilobyte': 0.001,
        'megabyte': 0.000001,
        'gigabyte': 0.000000001,
        'terabyte': 0.000000000001,
        'petabyte': 0.000000000000001,
        'exabyte': 0.000000000000000001,
        'zettabyte': 0.000000000000000000001,
        'yottabyte': 0.000000000000000000000001,
        'bit': 0.125
    }

    try:
        factor_origen = unidades[unidad_origen]
        factor_destino = unidades[unidad_destino]
        return valor * factor_origen / factor_destino
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Digite la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Digite la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_almacenamiento(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

Ingrese el valor a convertir: 500
Digite la unidad de origen: byte
Digite la unidad de destino: bit
500.0 byte son 4000.0 bit

MONEDA

In [ ]:
#MONEDAS
import re

def convertir_moneda(valor, moneda_origen, moneda_destino):
    tasas_de_cambio = {
        'dolar': 1,
        'euro': 0.92,
        'quetzal': 7.86,
        'lempira': 24.62,
        'cordoba': 36.56,
        'colonsv': 8.75,
        'coloncr': 535.14,
        'yenes': 145.52,
        'rupias indias': 83.32,
        'libras esterlinas': 0.79,
    }

    try:
        tasa_origen = tasas_de_cambio[moneda_origen]
        tasa_destino = tasas_de_cambio[moneda_destino]
        return valor * (tasa_origen / tasa_destino)
    except KeyError:
        raise ValueError("Moneda de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las monedas como texto sin números
    moneda_origen = input("Ingrese la moneda de origen: ").strip().lower()
    if not es_alfabetico(moneda_origen):
        raise ValueError("La moneda de origen debe contener solo letras y espacios.")

    moneda_destino = input("Ingrese la moneda de destino: ").strip().lower()
    if not es_alfabetico(moneda_destino):
        raise ValueError("La moneda de destino debe contener solo letras y espacios.")

    resultado = convertir_moneda(valor, moneda_origen, moneda_destino)
    print(f"{valor} {moneda_destino} son {resultado:.2f} {moneda_origen}")

except ValueError as e:
    print(f"Error: {e}")

Ingrese el valor a convertir: 400
Ingrese la moneda de origen: euro
Ingrese la moneda de destino: quetzal
400.0 quetzal son 46.82 euro

MASA

In [ ]:
#Masa
#{1, 0.453592, 453.592, 0.000453592, 453592, 453600000, 0.000446429, 0.0005, 0.0714286, 16}, //Masa
def convertir_masa(valor, unidad_origen, unidad_destino):
    unidades_de_masa = {
        'libra': 1,
        'kilogramo': 0.453592,
        'gramo': 453.592,
        'tonelada': 0.000453592,
        'miligramo': 453592,
        'microgramo': 453600000,
        'tonelada larga': 0.000446429,
        'tonelada corta': 0.0005,
        'stone': 0.0714286,
        'onza': 16
    }

    try:
        tasa_origen_a_destino = unidades_de_masa[unidad_destino] / unidades_de_masa[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_masa(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

Ingrese el valor a convertir: 2.4
Ingrese la unidad de origen: libra
Ingrese la unidad de destino: onza
2.4 libra son 38.4 onza

VOLUMEN

In [ ]:
#Volumen
#{1, 0.264172, 1.05669, 2.11338, 4.16667, 33.814, 67.628, 202.884, 0.001, 1000},
def convertir_volumen(valor, unidad_origen, unidad_destino):
    unidades_de_volumen = {
        'litro': 1,
        'galon usa': 0.264172,
        'cuarto usa': 1.05669,
        'pinta usa': 2.11338,
        'taza usa': 4.16667,
        'onza liquida': 33.814,
        'cuchara usa':67.628 ,
        'cucharadita usa': 202.884,
        'metro cubico': 0.001,
        'milimetro': 1000
    }

    try:
        tasa_origen_a_destino = unidades_de_volumen[unidad_destino] / unidades_de_volumen[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_volumen(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

Ingrese el valor a convertir: 400
Ingrese la unidad de origen: metro cubico
Ingrese la unidad de destino: litro
400.0 metro cubico son 400000.0 litro

TIEMPO

In [ ]:
#tiempo
# {1, 60, 0.0166667, 0.000694444, 0.000099206, 0.000022831, 0.0000019026, 0.00000019026, 0.00000001903, 60000}, //Tiempo,
def convertir_tiempo(valor, unidad_origen, unidad_destino):
    unidades_de_tiempo = {
        'minuto': 1,
        'segundo': 60,
        'hora': 0.0166667,
        'dia': 0.000694444,
        'semana': 0.000099206,
        'mes': 0.000022831,
        'año':0.0000019026 ,
        'decada': 0.00000001903,
        'siglo': 0.00000001903,
        'milisegundo': 60000
    }

    try:
        tasa_origen_a_destino = unidades_de_tiempo[unidad_destino] / unidades_de_tiempo[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_tiempo(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

Ingrese el valor a convertir: 4000
Ingrese la unidad de origen: milisegundo
Ingrese la unidad de destino: minuto
4000.0 milisegundo son 0.07 minuto

AREA

In [ ]:
#Area
def convertir_area(valor, unidad_origen, unidad_destino):
    unidades_de_area = {
        'manzanas': 1,
        'tareas': 16,
        'metro cuadrado': 7000,
        'vara cuadrada': 10000,
        'yarda cuadrada':  8371.93,
        'pie cuadrado': 75.207,
        'hectareas': 0.70,
        'acre':1.729738,
        'milla cuadrada': 0.002702715,
        'pie cuadrado': 75347.37
    }

    try:
        tasa_origen_a_destino = unidades_de_area[unidad_destino] / unidades_de_area[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_area(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

Ingrese el valor a convertir: 490
Ingrese la unidad de origen: metro cuadrado
Ingrese la unidad de destino: pie cuadrado
490.0 metro cuadrado son 5274.32 pie cuadrado

5-Realizar un conversor propio, donde especifiqué el valor de conversión:

In [ ]:
#Conversor propio de galletas Sponch :3

def convertir_unidades_a_paquetes(unidades):
    # Convierte unidades a paquetes de galletas Sponch
    paquetes = unidades / 5
    return paquetes

def convertir_paquetes_a_unidades(paquetes):
    # Convierte paquetes de galletas Sponch a unidades
    unidades = paquetes * 5
    return unidades

def main():
    print("Conversor de unidades a cajas y paquetes de galletas Sponch")
    while True:
        print("\nOpciones:")
        print("1. Convertir unidades a paquetes de galletas Sponch")
        print("2. Convertir paquetes de galletas Sponch a unidades")
        print("3. Salir")

        opcion = input("Elige una opción (1-3): ")

        if opcion == "1":
            unidades = float(input("Ingresa la cantidad de unidades: "))
            print(f"{unidades} unidades son equivalentes a {convertir_unidades_a_paquetes(unidades)} paquetes de galletas Sponch.")

        elif opcion == "2":
            paquetes = float(input("Ingresa la cantidad de paquetes de galletas Sponch: "))
            print(f"{paquetes} paquetes de galletas Sponch son equivalentes a {convertir_paquetes_a_unidades(paquetes)} unidades.")

        elif opcion == "3":
            print("¡Hasta luego!")
            break

        else:
            print("Opción no válida. Inténtalo de nuevo.")

if __name__ == "__main__":
    main()

Conversor de unidades a cajas y paquetes de galletas Sponch

Opciones:
1. Convertir unidades a paquetes de galletas Sponch
2. Convertir paquetes de galletas Sponch a unidades
3. Salir
Elige una opción (1-3): 1
Ingresa la cantidad de unidades: 9
9.0 unidades son equivalentes a 1.8 paquetes de galletas Sponch.

Opciones:
1. Convertir unidades a paquetes de galletas Sponch
2. Convertir paquetes de galletas Sponch a unidades
3. Salir
Elige una opción (1-3): 2
Ingresa la cantidad de paquetes de galletas Sponch: 1.8
1.8 paquetes de galletas Sponch son equivalentes a 9.0 unidades.

Opciones:
1. Convertir unidades a paquetes de galletas Sponch
2. Convertir paquetes de galletas Sponch a unidades
3. Salir
Elige una opción (1-3): 3
¡Hasta luego!

Programacion orientada a objetos
Clase virtual 19-08-24

In [ ]:
#MANUAL
n = int(input("Introduzca cuantos numeros a ingresar: "))
suma= 0
media=0

for num in range(1, n+1):
  num= int(input("Numero: "))
  suma+=num
media= suma/n
print("La media aritmetica es: ", media)

In [ ]:
#CLASE
class Calculadora:
  def sumar(self, num1, num2):
    return num1 + num2

In [ ]:
#OBJETO
obj_calculadora = Calculadora()
num1 = float(input("Ingrese el primer número: "))
num2 = float(input("Ingrese el segundo número: "))
print("Suma", obj_calculadora.sumar(num1, num2))

Ingrese el primer número: 4
Ingrese el segundo número: 7
Suma 11.0

Ejercicio:
Escriba un programa que lea una serie de numeros introducidos por el usuario y determine la media aritmetica

**Tarea adicional para miercoles**

1- Encontrar de una serie de numeros introducidos por el usuario la varianza


2- Encontrar la frecuencia de una serie de numeros introducidos por el usuario, tabla de numero

3- Escriba un programa que determine si una palabra introducida por el usuario es palindrome.

In [ ]:
#Media aritmetica
import math
import numpy as np

class estadistica:
  def calcular_media(self, serie): #Calcula la media aritmetica
    suma=0
    for num in serie:
      suma += num
    return suma/len(serie)

  def calcular_tipica(self, serie): # Calcula la desviacion tipica
    media= self.calcular_media(serie)
    suma=0
    for num in serie:
      suma+= (num-media)**2
    return math.sqrt(suma/len(serie))

  def calcular_frecuencia(self, serie): #calcula la frecuencia
    frecuencia={}
    for num in serie:
      if num in frecuencia:
        frecuencia[num]+1
      else:
          frecuencia[num]=1
      return frecuencia

  def calcular_varianza(self, serie): #calcula la varianza
    varianza=0
    varianza= np.var(serie)
    return varianza


n= int(input("Cuantos numeros a recorrer: "))
serie =[]
for num in range(1, n+1):
  serie.append(int(input("Numero: ")))

obj_estadistica = estadistica()
print("La media aritmetica es: ", obj_estadistica.calcular_media(serie))

print("La desviacion tipica es: ", obj_estadistica.calcular_tipica(serie))

#print("La desviacion tipica es: ", round(obj_estadistica.calcular_tipica(serie)))

print("La varianza es: ", obj_estadistica.calcular_varianza(serie) )

print("La frecuencia es: ", obj_estadistica.calcular_frecuencia(serie))

Cuantos numeros a recorrer: 4
Numero: 1
Numero: 7
Numero: 8
Numero: 7
La media aritmetica es:  5.75
La desviacion tipica es:  2.7726341266023544
La varianza es:  7.6875
La frecuencia es:  {1: 1}

In [ ]:
#Escribir que un programa determine si una palabra es palindrome

class Palindrome:
  def determinar_palindrome(self, palabra):
    return palabra == palabra[::-1]

obj_palindrome = Palindrome()
palabra = input("Ingrese una palabra:")
if obj_palindrome.determinar_palindrome(palabra):
  print("Es palindrome")
else:
  print("No es palindrome")

Ingrese una palabra:reconocer
Es palindrome

In [ ]:
def main():
  while True:

    print("\nOpciones:")
    print("1. Escribir palindromos")
    print("2. Salir")

    opcion = input("Elige una opción (1-2): ")

    if opcion == "1":
      class Palindrome:
       def determinar_palindrome(self, palabra):
        return palabra == palabra[::-1]

      obj_palindrome = Palindrome()
      palabra = input("Ingrese una palabra:")
      if obj_palindrome.determinar_palindrome(palabra):
        print("Es palindrome")
      else:
        print("No es palindrome")

    elif opcion=="2":
      print("¡Hasta luego!")
      break

    else:
            print("Opción no válida. Inténtalo de nuevo.")


if __name__ == "__main__":
    main()

Opciones:
1. Escribir palindromos
2. Salir
Opción no válida. Inténtalo de nuevo.

Opciones:
1. Escribir palindromos
2. Salir

Parcial 1_

1. Desarrolle un algoritmo en Python que calcule el IMPUESTO A LAS
ACTIVIDADES ECONOMICAS de acuerdo con la siguiente tabla. El monto
de la actividad económica debe ser introducido por el usuario.

In [ ]:
print("="*16," IMPUESTO DE ACTIVIDADES ECONOMICAS ","="*16)

def calcular_impuesto(monto):
    rangos = [
        (0.01, 500, 1.5, 0),
        (500.01, 1000, 1.5, 3),
        (1000.01, 2000, 3, 3),
        (2000.01, 3000, 6, 3),
        (3000.01, 6000, 9, 2),
        (8000.01, 18000, 15, 2),
        (18000.01, 30000, 39, 2),
        (30000.01, 60000, 63, 1),
        (60000.01, 100000, 93, 0.8),
        (100000.01, 200000, 125, 0.7),
        (200000.01, 300000, 195, 0.6),
        (300000.01, 400000, 255, 0.45)
    ]

    for rango in rangos:
        limite_inferior, limite_superior, precio_adicional, porcentaje = rango
        if limite_inferior <= monto <= limite_superior:
            if monto == limite_inferior:
                return precio_adicional
            else:
                impuesto = precio_adicional + ((monto - limite_inferior) * porcentaje / 100)
                return impuesto

    return "Monto fuera del rango permitido."

def main(): # repetir codigo
    try:
        monto = float(input(f"\nIntroduce el monto de la actividad económica: "))
        if monto < 0:
            print("El monto debe ser positivo.")
            return

        impuesto = calcular_impuesto(monto)
        print(f"El impuesto a pagar es: {impuesto:.2f}")

    except ValueError:
        print("Por favor, introduce un número válido.")

if __name__ == "__main__":
    main()

================  IMPUESTO DE ACTIVIDADES ECONOMICAS  ================

Introduce el monto de la actividad económica: 0.01
Por favor, introduce un número válido.

2. Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones:

In [ ]:
#Area
import re
def convertir_area(valor, unidad_origen, unidad_destino):
    unidades_de_area = {
        'pie cuadrado': 1,
        'vara cuadrada': 0.1111,
        'yarda cuadrada': 0.111111,
        'metro cuadrado': 0.092903,
        'tareas':  0.00014774656489,
        'manzanas': 75.207,
        'hectarea': 0.00001317
    }

    try:
        tasa_origen_a_destino = unidades_de_area[unidad_destino] / unidades_de_area[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validación del valor como número flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un número válido.")
    valor = float(valor_input)

    # Validación de las unidades como texto sin números
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_area(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

Ingrese el valor a convertir: 1
Ingrese la unidad de origen: vara cuadrada
Ingrese la unidad de destino: pie cuadrado
1.0 vara cuadrada son 9.0 pie cuadrado

3. Desarrolle un programa en Python que simule a un cajero automático.
Haga uso de las estructuras de control. (30%)
Eje. Ingrese la cantidad a retirar: 199.89
9 billetes de a 20
1 billete de a 10
1 billete de a 5
4 billetes de a 1
3 monedas de 0.25 ctvs.

In [2]:
print("-"*16, "CAJERO AUTOMATICO", "-"*16)
print("Bienvenido!!!")

continuar = "s"
while continuar.lower() == "s":

    # Definición de la base de datos de usuarios
    usuarios = {
        "1234": {"nombre": "Rachell Ramirez", "saldo": 2000},
        "1233": {"nombre": "Nacho Alegria", "saldo": 2600},

    }

    def mostrar_menu():
        print("\n** MENÚ DEL CAJERO AUTOMÁTICO **")
        print("1. Consultar saldo")
        print("2. Retirar dinero")
        print("3. Depositar dinero")
        print("4. Salir")

    def consultar_saldo(usuario):
        print(f"Tu saldo actual es: ${usuarios[usuario]['saldo']}")

    def retirar_dinero(usuario):
        monto = float(input("Ingrese el monto a retirar: $"))
        if monto <= usuarios[usuario]['saldo']:
            usuarios[usuario]['saldo'] -= monto
            print(f"Retiraste ${monto}. Tu saldo actual es: ${usuarios[usuario]['saldo']}")
        else:
            print("Saldo insuficiente")

    def depositar_dinero(usuario):
        monto = float(input("Ingrese el monto a depositar: $"))
        usuarios[usuario]['saldo'] += monto
        print(f"Depositaste ${monto}. Tu saldo actual es: ${usuarios[usuario]['saldo']}")

    def iniciar_sesion():
        intentos = 5
        while intentos > 0:
            pin = input("Ingrese su PIN: ")
            if pin in usuarios:
                return pin
            else:
                intentos -= 1
                print(f"PIN incorrecto. Te quedan {intentos} intentos.")
        print("Número máximo de intentos alcanzado. Inténtelo de nuevo más tarde.")
        return None

    def cajero_automatico():
        usuario = iniciar_sesion()
        if usuario:
            while True:
                mostrar_menu()
                opcion = input("Seleccione una opción: ")
                if opcion == "1":
                    consultar_saldo(usuario)
                elif opcion == "2":
                    retirar_dinero(usuario)
                elif opcion == "3":
                    depositar_dinero(usuario)
                elif opcion == "4":
                    print("Gracias por usar el cajero automático. ¡Hasta luego!")
                    break
                else:
                    print("Opción no válida. Por favor, seleccione una opción del menú.")

    # Ejecutar el cajero automático
    cajero_automatico()

    # Preguntar al usuario si desea continuar
    continuar = input("¿Desea realizar otra operación? (s/n): ").strip().lower()

print("Fin del programa.")

---------------- CAJERO AUTOMATICO ----------------
Bienvenido!!!

PIN incorrecto. Te quedan 4 intentos.
PIN incorrecto. Te quedan 3 intentos.
PIN incorrecto. Te quedan 2 intentos.
PIN incorrecto. Te quedan 1 intentos.
PIN incorrecto. Te quedan 0 intentos.
Número máximo de intentos alcanzado. Inténtelo de nuevo más tarde.
Fin del programa.