<a href="https://colab.research.google.com/github/RachellRG29/PrograIII_2024_Semi/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pruebas Python

In [ ]:
print("hola mundo")
print(type("esto es texto"))
print(type(2))

nombre = "Cindy Ramirez"
print("Hola ",nombre, ", iniciales:", nombre[0], nombre[6])

hola mundo
<class 'str'>
<class 'int'>
Hola  Cindy Ramirez , iniciales: C R

Ejercicios, crear un programa quen python que sume 2 numeros

In [ ]:
num1=5
num2=9.5
resp= num1+num2
print("la suma es ",resp)

la suma es  14.5

Ejercicios, crear un programa quen python que sume 2 numeros, introducidos por el usuario

In [ ]:
print("Ingrese el numero 1: ")
num1 = int(input())

print("Ingrese el numero 2: ")
num2 = float(input())
resp = num1+num2
print("La suma es: ",resp)

Ingrese el numero 1:
2
Ingrese el numero 2:
9.129
La suma es:  11.129

Cadenas

In [ ]:
#Tipos de datos
nombre="Cindy Ramirez"
print(nombre[0:5], nombre[:5], nombre[-7:-3], nombre[5:len(nombre)])

estado = False
print(estado)

num1=5
num2=5.9

print(type(nombre), type(num1), type(num2), type(estado), type("Texto") )

Cindy Cindy Rami  Ramirez
False
<class 'str'> <class 'int'> <class 'float'> <class 'bool'> <class 'str'>

Ejercicio: cree un programa en python que lea yb numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 ==0:
  print("El numero es par ",num)
else:
  print("El numero es inpar ", num)

Ingrese un numero:8
El numero es par  8

In [ ]:
nombre = input("Nombre: ")
print(nombre)
print(nombre[-4])

Nombre: Cindy
Cindy
i

In [ ]:
def suma(num1, num2):
  return num1+num2

num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1,num2)
print("la suma es: ",resp)

Num 1: 1
Num 2: 5.9
la suma es:  6.9

Ejercicio: Convertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32
  #return c*9/5 + 32

c= float(input("Celcius: "))
print("Farenheit: ", convertir_cf(c))

Celcius: 20
Farenheit:  68.0

In [ ]:
#Determina si un numero es par o inpar
def parImpar(num):
  if(num % 2==0):
    return "par"
  return "impar"

num= float(input("Num: "))
print("El numero ", num, "es: ",parImpar(num))

Num: 9
El numero  9.0 es:  impar

In [ ]:
def sueldo(numHrs, valorxHrs):
  sueldo = numHrs * valorxHrs * 30
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorxHrs * 30
  return sueldo


numHrs = int(input("Horas trabajadas: "))
valorxHrs = float(input("Valor de horas: "))

print("Sueldo del trabajador:", sueldo(numHrs, valorxHrs))

Horas trabajadas: 10
Valor de horas: 1.5
Sueldo del trabajador: 540.0

Ejercicio calcular el sueldo de un trabajador

TAREA(Miercoles)


1.   Convertir grados farenheit a celsius
2.   Convertir [Farenheit y celsius] a kelvin

Convertir grados farenheit a celsius

In [ ]:
def convertir_fc(f): #farenheit a celcius
  return (f-32) * 5/9

f = float(input("Farenheit: "))
print("Grados Celcius: ", convertir_fc(f),"°c")

Farenheit: 90
Grados Celcius:  32.22222222222222 °c

Convertir [Farenheit y celsius] a kelvin

In [ ]:
def convertir_fk(f): #farenheit a kelvin
  return (f + 459.67)/1.8

f = float(input("Farenheit: "))
print("Grados Kelvin convertidos: ", convertir_fk(f),"°k")
print("")

def convertir_ck(c): #celcius a kelvin
  return (c+273.15)

c = float(input("Celcius: "))
print("Grados Kelvin: ", convertir_ck(c),"°k")

Farenheit: 40
Grados Kelvin convertidos:  277.59444444444443 °k

Celcius: 44
Grados Kelvin:  317.15 °k

Clase 24-07-2024
Ejercicio: elevar un nmero al cuadrado

In [ ]:
def elevarCuadrado(base, exponente):
  return base**exponente

#exponente=int(input("Exponente "))

base = int(input("Numero "))
print("Elevado: ",elevarCuadrado(base,3))

Numero 3
Elevado:  27

Usando funciones lambda

In [ ]:
elevarCuadradoLambda = lambda base, exponente : base**exponente
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor,2))

Num: 3
Cuadrado:  9

Funcion lambda, con series , listas , matrices

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print("Valores al cuadrado:",(list(resp)))

#resp2= map(elevarCuadrado, serie)
#print(list(resp2))

Valores al cuadrado: [25, 16, 9, 4, 36, 49]

Ejercicio: Obtener la raiz cuadrada de una serie de numeros fijos

In [ ]:
#from math import sqrt

#series = [5,4,3,2,6,7]
series = [16,9, 81,144,6,7]
resps = map(lambda x:x** 0.5, series)

print(list(resps))

[4.0, 3.0, 9.0, 12.0, 2.449489742783178, 2.6457513110645907]

CLASE VIRTUAL 29-07-24_ LAMBDA

EJERCICIO CON MAP

In [1]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda n: n*3, numeros)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [4]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros)))

Tabla: 6
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

*FILTER

In [5]:
#pares
numeros = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda n: n%2==0, numeros)))

[2, 4, 6, 8, 10]

In [6]:
#inpares
numeros = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda n: n%2!=0, numeros)))

[1, 3, 5, 7, 9]

In [7]:
notas = [8,2,3,9,10,1,3,6,9,0,1,10,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))

Aprobados:  [8, 9, 10, 6, 9, 10, 9]

In [8]:
notas = [8,2,3,9,10,1,3,6,9,0,1,10,9]
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Reprobados:  [2, 3, 1, 3, 0, 1]

*REDUCE

In [12]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

TUPLAS

In [14]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, ",Primer: ", numeros[0], ",Ultimo: ", numeros[-1], ", Rango: 2-6 ", numeros[2:6])
print(numeros.count(5))

Tupla:  (5, 8, 7, 9, 5, 4, 7) ,Primer:  5 ,Ultimo:  7 , Rango: 2-6  (7, 9, 5, 4)
2

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

In [15]:
#day datetime
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo","lunes","martes","miercoles","jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ", year)

Fecha:  lunes 29  de  agosto  del  2024

In [16]:
#
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

('Luis', 'Juan')
['Pedro', 'Juan']

('Luis', 'Juan')
['Pedro', 'Juan']

['Pedro', 'Juan']

In [ ]:
#LISTA
listas = [5,8,7,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

In [17]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 8] ] #8*0.3=2.4 + 9*0.3=2.7 + 8*0.3=2.4
reduce(obtenerNota, matriz, 0)

7.5